<% @messages.each do |message|%>
	 <div class="field">
		<%= message.content %> (c)<%= link_to message.user.username, message.user %>
		<%= link_to "Answer", :send_message%>
	</div>
_____________________________________________________________________
<% end %>
