<!doctype html>
<html>
<head>
<meta content = "text/html; charset = UTF-8" http-equiv = "Content-Type"/>
</head>
<body>
<h1>Welcome to Cathedra_Social_Network (blah_blah.com), <%= @user.username %></h1>
<p>
	You've successfully signed up to blah_blah.com.
	Your username is <%= @user.username %>.
	Your password is <%= @user.password %>.<br/>	
</p>
<p>
	To login to the site, just follow this link: <%= @url %>
</p>
<p> Thanks for joining us!</p>
</body>
</html>
