<!doctype html>
<html>
<head>
<meta content = "text/html; charset = UTF-8" http-equiv = "Content-Type"/>
</head>
<body>
<h2>Welcome to MechMath_Social_Network, <%= @user.username %>!</h2>
<p>
	You've successfully signed up to blah_blah.com.<br/>
</p>
<p>
	<%= link_to "Your Profile", user_url(@user) %>
</p>
<p> Thanks for joining us!</p>
</body>
</html>
