<div class="user_info">
	<a href="<%= user_path(current_user) %>">
		<span class="user_name">
			<%= current_user.username %>
		</span>
		<br>
		<span class="posts">
			<%= pluralize(current_user.posts.count, "post") %>
		</span>
	</a>
</div>

