<%- if current_user %>
	<table class="front" summary="For signed-in users">
		<tr>
			<td class="main">
				<h1 class="post">Как дела?</h1>
					<%= render 'shared/post_form' %>
					
					
			</td>
			<td class="sidebar round">
				<%= render 'shared/user_info' %>
			</td> 
		</tr>
	</table>
<%- else %>
	<h1>Социальная сеть</h1>
	<h3>Пожалуйста войдти или зарегистрируйтесь!</h3>
<%- end %>
